.main-header {
  display: flex;
  justify-content: space-between;
}

.user-info {
  width: 150px;
}

.user-info p {
  float: left;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
